.information{
	height:auto;
	margin:0%;
	width:100%;
}

.col1{
	width:50%;
	float:left;
	
}

#img-information{
	width:100%;
	margin:auto;
	height:700px;
	padding-top:20px;
	

}
.col2{
	width:50%;
	float:left;


    }
 #heading-information{
   width:70%;
   padding-left:20%;
   }

 .para-information{
   margin:auto;
   width:60%;
   height:700px;
   padding-left: 5%;
   padding-right: 5%;
   text-align: justify;
   line-height: 25px;
   }

.information:after {
	clear: both;
	}
	

@media only screen and (max-width:500px){
	.information{
	 width:100%;
	 height:auto;
	 float:none;
	}
	.col1 {
	width:100%;
	float:none;
	height:auto;
	}

	.col2 {
	width:100%;
	float:none;
	height:auto;

	}

	#img-information{
	width:100%;
	height:auto;
	float:none;
	}
}