#overlay {
  width: 100%;
  height: 800px;
  z-index: 1;
}


.imgB1 { 

  width: 50%;
  height: 600px;
  left: 0px; 
  z-index: 1;
} 

.imgA1 { 

  width: 70%;
  height: 0;
  transform: translate(50%, 50%);
  z-index: 6;
}

.para {
  width:80%;
  margin:auto;
  padding-top:50px;
  padding-bottom:50px;
}
